{%extends 'base.html'%}

{%block main_block%}

<div class="container mt-5 border shadow w-50 p-5">
    <h4 class="text-center">Edit Task</h4>
    <form action="" method="post">
        {%csrf_token%}
        {{form}}
      
        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-success me-3" >Edit</button>
            <a href="{%url 'task-add'%}" class="btn btn-info">Go Back</a>
           </div>
    </form>
</div>

{%endblock%}