{% extends 'base.html' %}

{% block main_block%}

<div class="container border mt-5 p-4 shadow">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
          Name:{{data.name}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Course: {{data.course}}</li>
          <li class="list-group-item">Batch: {{data.batch}}</li>
          <li class="list-group-item">Duration :{{data.duration}}</li>
          <li class="list-group-item">PhoneNo :{{data.phone_no}}</li>

        </ul>
      </div>
</div>

{%endblock%}